.Navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-items: center;
    padding:10px;
    height:12vh;
}

.container-link{
      display: flex;
}

.link-nav{
     color:#fff;
     list-style: none;
     font-size: medium;
     text-shadow:4px 3px 5px rgb(17, 40, 248);
     margin:10px;
}

.link-nav:hover{
     color:#999;
}

@media (max-width: 755px){
    .Navbar{
     flex-direction:column-reverse;
     align-items: flex-end;
    gap: 10px;
}

  .buton_filtro{
   display: none;
}
.buton_filtro2{
     width:50px;
     height:50px;
     padding:15px;
     background-color:rgba(5, 5, 5, 0);
     background-image: url('../../images/menu.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     font-weight: bolder;
     border: none;
     border-radius:17px;
     position:relative;
     top:-4rem;
     right:45%;
}
}