.Navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-items: center;
    padding:10px;
    height:12vh;
}

.container-link{
      display: flex;
}

.link-nav{
     color:#fff;
     list-style: none;
     font-size: medium;
     text-shadow:4px 3px 5px rgb(17, 40, 248);
     margin:10px;
}

.link-nav:hover{
     color:#999;
}