.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(20, 20, 20);
    margin:10px;
    width:350px;
    height:90vh;
    min-height:599px;
    border-radius:10px;
    color:#fff;
    animation-name: title;
    animation-duration: 3s;
}


.card:hover{
    box-shadow:2px 5px 5px rgba(13, 70, 228, 0.685);
     transform-style: preserve-3d;
    transform: perspective(500px) rotateX(15deg);
    transition-delay:0.6s;
    transition-duration:1.5s;
}

.card-head{
    color:#fff;
    font-size:20px;
}
.card-img{
     width:95%;
     border-radius:5px;
     height:250px;
}


.card-temperament-container{
     font-size:18px;
     color:rgba(255, 255, 255, 0.603);
     background-color: rgba(50, 51, 51, 0.986);
     width: 97%;
     margin:0 auto;
     border-radius:10px;
}

.card-temperament{
    width:100%;
    padding: 0;
    margin: 0;
}
.card-temperament-title{
     color:rgb(255, 255, 255);
}

.card-weight{
    padding:5px;
    color:rgba(255, 255, 255, 0.815);
     display: flex;
     justify-content: space-evenly;

}
.card-weight-title{
     color:#fff;
}