body{
    margin:0;
    padding:0;
}
.paginado-container{
  display: flex;
  margin:auto;
  background-color:rgb(20, 20, 20);
  box-shadow:2px 2px 3px #000;
  border-radius:5px;
  margin-bottom:10px;
}
.paginado-ul{
    /* width:100%; */
    background:rgba(0, 0, 0, 0.637);
    display: flex;
    justify-content:space-between;
    list-style: none;
    padding:10px;
    border:none;
}

@media (max-width:713px){
   .paginado-container{
      display: none;  
} }
.number{
     color:#fff;
     font-size:20px;
}

.active-click{
    background-color:rgb(255, 255, 255);
    color:#000;
}

.paginado{
     cursor: pointer;
     padding:5px;
}
.number:hover{
    background-color:rgb(255, 255, 255);
    color:#000;
}
.number:active{
    background: none;
    color:#000;
}
.nou{
    background:rgba(0, 0, 0, 0);
    color:#fff;
}

.classDivButton{
        display: flex;
        align-items: center;
}

.classButton1, .classButton2{
    background-color:rgba(10, 10, 10, 0.055);
    height:58%;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    width:40px;
    border:none;
    padding: 5px;
    height:55%;
    margin:4px;
    border-radius:5px;
    color:#fff;
    font-size:16px;
    font-weight:900;
 }
 
 .classButton1{
   background-image:url('../../images/izq-arrow.png');
 }
 .classButton2{
   background-image:url('../../images/der-arrow.png');
 }
 

.classButton1:hover, .classButton2:hover{
    opacity:0.8;
    cursor: pointer;
}
